<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/bootstrap-1.2.0.css'}">
        <link rel="stylesheet"type="text/css" href="@{'/public/stylesheets/prettify.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/javascripts/jquery-1.5.2.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/prettify.js'}" type="text/javascript"></script>
        #{get 'moreScripts' /}
    </head>
    <body onload="prettyPrint()">
    
    <div class="topbar-wrapper" style="z-index: 5;">
    <div class="topbar">
      <div class="topbar-inner">
        <div class="container">
          <h3><a href="@@{Application.index}">PLAY Nuclear Crisis Listener</a></h3>
          <ul class="nav">
            <li class=""><a href="@@{Application.websocket}">Live Events</a></li>
            <li class=""><a href="@@{Application.last}">Last N</a></li>
          </ul>
        </div>
      </div><!-- /topbar-inner -->
    </div><!-- /topbar -->
  </div>
  
  <p><br><br></p>
  <div class="container">
     #{doLayout /}
  </div>
  </body>
</html>